<div>
    <h1>Welcome to Our Application</h1>
    <h2>Hi Akshay</h2>
    <p>This is the home page. Use the navigation menu to explore different sections of the application.</p>
</div>
<div>
    <h1>
        Views
    </h1>
    <ul>
        <li>Views - Returned from the Controller Action Method - Index.cshtml</li>
        <li>Partial View - Reuse common design - _Layout.cshtml</li>
    </ul>
</div>

